{% block main %}
    <center><h1 class="h3 mb-0 text-gray-800">Eliminar Tablero</h1></center></br>
        <form action="" method="post">
            {% csrf_token %}
            <center><h1 class="h3 mb-0 text-gray-800">¿Desea eliminar el Tablero {{ object.nombre_tablero}}?</h1></center></br>
            <center><tr>
            	<td><button type="submit">Eliminar</button></td>
            	<td><button><a href="{% url 'lista_tablero' %}">Cancelar</a></button></td>
            </tr></center>
        </form>
    {% endblock main %}